h1{
            background-color: blueviolet;
            color: aqua;
        }
        body{
            background-color: rgb(128, 128, 202);
        }
        div{
            color: bisque;
            background-color:crimson;
        }
        button{
            background-color: white;
            color: blue;
        }
        h2{
            color: magenta;
        }
        h3{
            color: aqua;
        }

        /* *{
            color:pink;
        } */