div{
    height: 100px;
    width: 100px;
    background-color: brown;
    border-style: solid;
    border-color: rgb(103, 239, 58);
    padding-left: 25px;
    margin-bottom: 50px;
    margin-left: 50px;
}
h1{
    height: 50px;
    width: 300px;
    background-color: rgb(163, 163, 198);
    border-radius: 10;
    border-style: solid;
    border-color: black;
    border-radius: 0cap;
    border-width: 10px;
    

    
}
#r2{
    border: 2px solid rgb(71, 42, 165);
    background-color: aqua;
    height: 100px;
    width: 500px;
    border-radius: 20px;
    padding-top: 25px;
    margin-top: 50px;
}