div{
    height: 200px;
    width: 200px;
    background-color: rgb(46, 81, 70);
    border: 2px solid black;
    transition: all;
    transition-duration: 2s;
    transition-timing-function: steps(5); 
    transition-delay: 2s; */
     transition: all 2s ease-in 2s;
    transform: z rotate(45deg);
    
     scale: 1;  
}
div:hover{
    background-color: black;
    color: aliceblue;
    font-size: xx-large;
}
div:active{
    background-color: yellow;
}
